<%- include('../partials/header') %>

<form id="new-form" action="/posts/<%= post._id %>/update?_method=PUT" method="POST">
  <label class="text-light">Title:</label>
  <input type="text" name="title" value="<%= post.title %>">
  <label class="text-light">Post:</label>
  <textarea name="postContent" value="<%= post.postContent %>"></textarea>
  
  <input type="submit"  class="btn btn-outline-info" value="Add Post">
</form>

<%- include('../partials/footer') %>
